<div id="<%= dom_id micropost %>">
    <p>
        <strong>content:</strong>
        <%= micropost.content %>
    </p>

    <p>
        <strong>User:</strong>
        <%= micropost.user_id %>
    </p>

</div>